[Desktop Entry]
Encoding=UTF-8
Name=regexxer
Comment=An interactive tool for performing search and replace operations
Comment[de]=Ein interaktives Werkzeug zum Suchen und Ersetzen
Exec=regexxer
Icon=regexxer.png
Terminal=false
StartupNotify=true
Type=Application
Categories=Application;Development;
