[Desktop Entry]
Encoding=UTF-8
Name=regexxer
Comment=An interactive tool for performing search and replace operations
Icon=regexxer.png
Exec=regexxer
Terminal=false
StartupNotify=true
Type=Application
Categories=GNOME;Application;Development;
